<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="arm_mech" params="parent">
        <xacro:include filename="$(find robot_arm_description)/urdf/arm_component.urdf.xacro" />
        <xacro:arm_component 
            frame_id="${parent}"
            child_frame_id="box_link"
            mass="0.2"
            pos_x="0.0"
            pos_y="0.0"
            pos_z="0.0576"
            x_length="0.087"
            y_length="0.087"
            z_length="0.04"
            mesh="file://$(find robot_arm_description)/urdf/meshes/box_link.stl"
            mirror_mesh="false"
            joint_name="base_to_mount"
            joint_type="fixed"
            joint_axis=""
            joint_min=""
            joint_max=""
            joint_velocity=""
            joint_effort=""
            joint_to_mimic=""
            joint_mimic_multiplier=""
        />

        <xacro:arm_component 
            frame_id="box_link"
            child_frame_id="pan_link"
            mass="0.215"
            pos_x="-0.012"
            pos_y="0.0"
            pos_z="0.002"
            x_length="0.034"
            y_length="0.0515"
            z_length="0.067"
            mesh="file://$(find robot_arm_description)/urdf/meshes/pan_link.stl"
            mirror_mesh="false"
            joint_name="pan_joint"
            joint_type="revolute"
            joint_axis="z"
            joint_min="-3.1416"
            joint_max="3.1416"
            joint_velocity="1.5"
            joint_effort="40"
            joint_to_mimic=""
            joint_mimic_multiplier=""
        /> 

        <xacro:arm_component 
            frame_id="pan_link"
            child_frame_id="shoulder_link"
            mass=".215"
            pos_x="0.0"
            pos_y="0.0"
            pos_z="0.053"
            x_length=".025"
            y_length=".025"
            z_length=".234"
            mesh="file://$(find robot_arm_description)/urdf/meshes/shoulder_link.stl"
            mirror_mesh="false"
            joint_name="shoulder_joint"
            joint_type="revolute"
            joint_axis="y"
            joint_min="-1.8515"
            joint_max="2.1015"
            joint_velocity="1.5"
            joint_effort="80"
            joint_to_mimic=""
            joint_mimic_multiplier=""
        />

        <xacro:arm_component 
            frame_id="shoulder_link"
            child_frame_id="elbow_link"
            mass="0.1"
            pos_x="0.03"
            pos_y="0.0"
            pos_z="0.2205"
            x_length="0.025"
            y_length="0.025"
            z_length="0.168"
            mesh="file://$(find robot_arm_description)/urdf/meshes/elbow_link.stl"
            mirror_mesh="false"
            joint_name="elbow_joint"
            joint_type="revolute"
            joint_axis="y"
            joint_min="-0.4"
            joint_max="3.0"
            joint_velocity="1.5"
            joint_effort="80"
            joint_to_mimic=""
            joint_mimic_multiplier=""
        />

        <xacro:arm_component 
            frame_id="elbow_link"
            child_frame_id="wrist0_link"
            mass="0.1"
            pos_x="0.0"
            pos_y="0.0"
            pos_z="0.176"
            x_length="0.0285"
            y_length="0.038"
            z_length="0.0547"
            mesh="file://$(find robot_arm_description)/urdf/meshes/wrist0_link.stl"
            mirror_mesh="false"
            joint_name="wrist0_joint"
            joint_type="revolute"
            joint_axis="z"
            joint_min="-3.1416"
            joint_max="3.1416"
            joint_velocity="1.5"
            joint_effort="40"
            joint_to_mimic=""
            joint_mimic_multiplier=""
        />

        <xacro:arm_component 
            frame_id="wrist0_link"
            child_frame_id="wrist1_link"
            mass="0.1"
            pos_x="0.0"
            pos_y="0.0"
            pos_z="0.0435"
            x_length="0.053"
            y_length="0.0285"
            z_length="0.044"
            mesh="file://$(find robot_arm_description)/urdf/meshes/wrist1_link.stl"
            mirror_mesh="false"
            joint_name="wrist1_joint"
            joint_type="revolute"
            joint_axis="y"
            joint_min="-1.8"
            joint_max="2.0"
            joint_velocity="1.5"
            joint_effort="40"
            joint_to_mimic=""
            joint_mimic_multiplier=""
        />

        <xacro:arm_component 
            frame_id="wrist1_link"
            child_frame_id="wrist2_link"
            mass="0.1"
            pos_x="0.0"
            pos_y="0.0"
            pos_z="0.0715"
            x_length=""
            y_length=""
            z_length=""
            mesh=""
            mirror_mesh="false"
            joint_name="wrist2_joint"
            joint_type="revolute"
            joint_axis="z"
            joint_min="-3.1416"
            joint_max="3.1416"
            joint_velocity="1.5"
            joint_effort="40"
            joint_to_mimic=""
            joint_mimic_multiplier=""
        />
    </xacro:macro>
</robot>