<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robot_arm">
   <xacro:arg name="use_sim_time" default="false" />
   <xacro:include filename="$(find robot_arm_description)/urdf/assembled_arm.urdf.xacro" />

   <material name="black">
      <color rgba="0.15 0.15 0.15 1.0" />
   </material>
   <link name="base_mount">
      <collision>
         <origin rpy="0 0 0" xyz="0 0 0" />
         <geometry>
            <mesh filename="file://$(find robot_arm_description)/urdf/meshes/base_mount.stl" scale="0.001 0.001 0.001" />
         </geometry>
      </collision>
      <visual>
         <origin rpy="0 0 0" xyz="0 0 0" />
         <geometry>
            <mesh filename="file://$(find robot_arm_description)/urdf/meshes/base_mount.stl" scale="0.001 0.001 0.001" />
         </geometry>
         <material name="black" />
      </visual>
      <inertial>
         <origin xyz="0 0 ${0.005/2.}" />
         <mass value="10" />
         <inertia ixx="${(1/12) * 10 * (0.09 * 0.09 + 0.005 * 0.005)}" ixy="0.0" ixz="0.0"
            iyy="${(1/12) * 10 * (0.045 * 0.045 + 0.005 * 0.005)}" iyz="0.0"
            izz="${(1/12) * 10 * (0.045 * 0.045 + 0.09 * 0.09)}" />
         </inertial>
      </link>
   <gazebo reference="base_mount">
      <material>Gazebo/FlatBlack</material>
   </gazebo>

   <xacro:assembled_arm parent="base_mount" use_sim_time="$(arg use_sim_time)" />
</robot>